.add-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 300px;
  margin: 15px;
  width: 100%;
  outline: none;
}

.add-form_input {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  outline: none;
}

.add-form_input-question {
  border-radius: 30px;
  background-color: rgba(228, 230, 250, 1);
}

.add-form_input-answer {
  background-color: rgba(228, 230, 250, 1);
}
