.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.title {
  font-family: "Fondamento", cursive;
  color: rgba(239, 78, 109, 1);
  font-size: 1.8rem;
  margin: 5px;
  text-align: center;
}

.logo {
  height: 50px;
  margin: 10px;
}

.logo:hover {
  transform: rotate(30deg) translate(10%);
}

.logoflipped:hover {
  transform: rotate(-30deg) translate(10%);
}
