.button {
  background-color: rgba(164, 173, 235, 1);
  border-radius: 35px;
  width: 150px;
  height: 40px;
  outline: none;
  font-size: 0.8rem;

  border: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: column wrap;
  justify-content: center;
}

.navButton {
  background-color: rgba(164, 173, 235, 1);
  border-radius: 35px;
  width: 85%;
  height: 50px;
  outline: none;
  font-size: 1.1rem;
  border: transparent;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
