.redirectButton {
  background-color: rgba(164, 173, 235, 1);
  border-radius: 35px;
  width: 130px;
  height: 60px;
  outline: none;
  font-size: 0.9rem;
  align-self: flex-end;
  border: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 70%;
  flex-flow: column wrap;
  justify-content: center;
}

.navButton {
  background-color: rgba(164, 173, 235, 1);
  border-radius: 35px;
  width: 500px;
  height: 100px;
  outline: none;
  font-size: 1.1rem;
  border: transparent;
  margin: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
