.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 50px;
  margin-left: 50px;
  min-height: 600px;
  background: transparent;
  font-family: "Lato", sans-serif;
}
