.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  margin-right: 50px;
  margin-left: 50px;
  min-height: 600px;
  width: 75vw;
  background: transparent;
  font-family: "Lato", sans-serif;
}
