.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.title {
  font-family: "Fondamento", cursive;
  color: #ef4e6d;
  font-size: 1.8rem;
  margin: 5px;
  text-align: center;
}

.logo {
  height: 50px;
  margin: 10px;
  -webkit-transition: rotate 1.5s ease-in-out;
  -moz-transition: rotate 1.5s ease-in-out;
  -o-transition: rotate 1.5s ease-in-out;
  transition: rotate 1.5s ease-in-out;
}

.logo:hover {
  transform: rotate(30deg);
}

.fliphorizontally {
  transform: scaleX(-1);
}

.fliphorizontally:hover {
  transform: rotate(90deg);
}
